.section {
  width: 754px;
  height: 182px;
  padding: 21px;
  border-radius: 8px;
  background-color: #424141;
}
.container {
  gap: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 139px;
  height: 115px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0px;
}
.priority {
  background: #f3f8ed;
}
.upcoming {
  background: #e6f7ff;
}
.overdue {
  background: #e4e6ff;
}
.complited {
  background: #ffdccd;
}
.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.12;
  text-align: left;
  color: #808080;
  margin-top: 15px;
  margin-bottom: 5px;
}
.tasks {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.58;
  text-align: left;
  color: #262626;
  margin-bottom: 11px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin-bottom: 12px;
}
